/*! normalize.css v2.1.1 | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  background: #fff;
  /* 1 */
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

button, input, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  background: #212121;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #212121;
  color: #fff;
  text-shadow: none;
}

html, body {
  min-height: 100%;
  height: 100%;
  background-color: #2A6FA8;
}

body {
  font: 14px/24px '$font', sans-serif;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  float: left;
  clear: both;
  width: 100%;
}

.firstcol {
  margin-left: 0 !important;
}

.lastcol {
  margin-right: 0 !important;
}

.col1 {
  width: 4.33333%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  display: inline;
}

.col2 {
  width: 12.66667%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  display: inline;
}

.col3 {
  width: 21%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  display: inline;
}

.col4 {
  width: 29.33333%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  display: inline;
}

.col5 {
  width: 37.66667%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  display: inline;
}

.col6 {
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  display: inline;
}

.col7 {
  width: 54.33333%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  display: inline;
}

.col8 {
  width: 62.66667%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  display: inline;
}

.col9 {
  width: 71%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  display: inline;
}

.col10 {
  width: 79.33333%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  display: inline;
}

.col11 {
  width: 87.66667%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  display: inline;
}

.col12 {
  width: 96%;
  margin-right: 0;
  float: left;
  display: inline;
}

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.row:after, .clearfix:after {
  clear: both;
}

.row, .clearfix {
  zoom: 1;
}

fieldset {
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.2;
  margin-top: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 3em;
  color: #212121;
  margin-bottom: 14px;
}
h1 a {
  color: #212121;
}
h1 a:hover {
  color: #212121;
}

h2 {
  font-size: 2.4em;
  color: #212121;
  margin-bottom: 10px;
}
h2 a {
  color: #212121;
}
h2 a:hover {
  color: #212121;
}

h2 + img.alignright,
h2 + img.alignleft,
h2 + img.alignnone,
h2 + img.aligncenter {
  margin-top: 0px;
}

h2 + img + p {
  margin-top: 0px;
}

h3 {
  font-size: 2em;
  color: #212121;
  margin-bottom: 8px;
}
h3 a {
  color: #212121;
}
h3 a:hover {
  color: #212121;
}

h3 + img.alignright,
h3 + img.alignleft,
h3 + img.alignnone,
h3 + img.aligncenter {
  margin-top: 10px;
}

h4 {
  font-size: 1.8em;
  color: #212121;
  margin-bottom: 4px;
}
h4 a {
  color: #212121;
}
h4 a:hover {
  color: #212121;
}

h5 {
  font-size: 1.7em;
  color: #212121;
}
h5 a {
  color: #212121;
}
h5 a:hover {
  color: #212121;
}

h6 {
  font-size: 1.4em;
  color: #212121;
}
h6 a {
  color: #212121;
}
h6 a:hover {
  color: #212121;
}

p {
  font-size: 1em;
  line-height: 1.6;
  color: #212121;
  margin-bottom: 20px;
}
p img {
  margin: 0;
}

p + img.alignright,
p + img.alignleft,
p + img.alignnone,
p + img.aligncenter {
  margin-top: 0px;
}

hr {
  clear: both;
  height: 0;
  border: 0;
  border: 1px solid #212121;
  border-top: 1px solid #212121;
  margin: 10px 0 10px;
}

code, pre {
  font-size: 15px;
}

blockquote {
  border-left: 10px solid #444;
  padding-left: 15px;
  font-style: italic;
  color: #444;
}

nav ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style: decimal;
}

ul.none {
  list-style: none;
}

ul.square {
  list-style: square outside;
}

ul.circle {
  list-style: circle outside;
}

ul.disc {
  list-style: disc outside;
}

dl dt {
  font-weight: bold;
  line-height: 1.2em;
}

dl dd {
  margin: 0 0 10px 0;
}

a, a:visited {
  color: #256294;
  text-decoration: none;
  outline: 0;
}

a:hover, a:focus {
  color: #2A6FA8;
  text-decoration: underline;
}

p a, p a:visited {
  line-height: inherit;
}

em, i {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

small {
  font-size: 1.1em;
}

sub, sup {
  font-size: .9em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img, iframe, object, video {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  border: 0;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  font-size: 1em;
}
table th {
  color: #212121;
  font-weight: bold;
  padding: 2px 8px;
  text-transform: uppercase;
}
table td {
  border-top: 1px dotted #212121;
  color: #444;
  padding: 2px 8px;
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.dead-link {
  pointer-events: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before, .clearfix:after, .row:before, .row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.remove-top {
  margin-top: 0 !important;
}

.half-top {
  margin-top: 10px !important;
}

.push-top {
  margin-top: 20px;
}

.remove-bottom {
  margin-bottom: 0 !important;
}

.half-bottom {
  margin-bottom: 10px !important;
}

.push-bottom {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 25%;
}

.third-width {
  width: 33%;
}

.push-left {
  margin-left: 20px;
}

.push-right {
  margin-right: 20px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.alignleft {
  float: left;
  margin: 20px 20px 20px 0;
}

.aligncenter {
  text-align: center;
  clear: both;
  margin: 20px auto;
  display: block;
}

.alignright {
  float: right;
  margin: 20px 0px 20px 20px;
}

.alignnone {
  margin: 20px 0px 20px 0px;
}

.clear {
  clear: both;
}

.center {
  margin: 0 auto;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.underline {
  text-decoration: underline;
}

.highlight {
  background-color: #ffc;
}

nav {
  clear: both;
}
nav.main li {
  font-size: 1.2rem;
}
nav h2 {
  display: none;
}
nav #secondary-menu {
  float: right;
}
nav li {
  display: inline-block;
}
nav li.first {
  padding-left: 0;
}
nav li a {
  text-decoration: none;
}

footer {
  padding-bottom: .1em;
}

.container {
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

#main {
  clear: both;
  padding-top: .5em;
}
